@model IEnumerable<ProyectoFinalLaboIV.Models.Categoria>

@{
    ViewData["Title"] = "Lista de Categorías";
}

<h1>Lista de Categorías</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Categoría</a>
</p>
<table class="table table-sm table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
            </td>
        </tr>
}
    </tbody>
</table>
